# Main section where the app containers are defined
services:
  # Definition of PostgreSQL database Container
  db:
    # Docker image for this service
    image: postgres:16-alpine

    # Custom name for the container
    container_name: db-comics-prod
    
    # Environment variables passed to the container during initialization
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    
    # Ensures data is not lost when the container is removed
    volumes:
      - comics_data_db_prod:/var/lib/postgresql/data
    
  # Definition of the main API Container
  api:
    # Docker image for this service
    image: comics-api-server:1.0-prod
    
    # Build configuration for creating the docker image
    build:
      # Indicates that the dockerfile is located in the current directory
      context: .
    
    # Custom name for the container
    container_name: comics-api-prod
    
    # Defines dependency on the database, the API will not start until the database is healthy
    depends_on:
      db:
        condition: service_started
    
    # Environment variables required by the Flask App
    environment:
      # Tells Flask which module and function to run
      FLASK_APP: main:create_app
      # Sets Flask to run in production mode
      FLASK_ENV: production
      # debug mode is not enable
      FLASK_DEBUG: "0"
      # Database connection string used by the API
      DATABASE_URI:  ${DATABASE_URI}

    # Port mapping for the API service
    ports:
      - "8080:8080"
    
    # Starts the Flask application using Gunicorn, listening on port 8080
    command: ["gunicorn", "-b", "0.0.0.0:8080", "main:create_app()"]

# Global volumes definition, Docker creates these volumes automatically if they do not exist
volumes:
  # Volume used by PostgreSQL to store persistent database data
  comics_data_db_prod:

