# NAme for the Github Actions tab
name: Docker CI

# Defines when the workflow should run
on:
  # Run whenever code is pushed to main branch  
  push:
    branches: ["main"]
  # Run on pull requests in main   
  pull_request:
    branches: ["main"]


# Define the jobs that will run
jobs:
  build_and_test:
    # Virtual environment that Github uses
    runs-on: ubuntu-latest

    steps:
      # Step 1 - Download the repository code into the runner
      - name: Checkout repo
        uses: actions/checkout@v4
        
      # Step 2 - Enable Docker Buildx 
      - name: Set up Docker Build
        uses: docker/setup-buildx-action@v3
      
      # Step 3 - Build the docker image from the Dockerfile
      - name: Build_API_image
        run: | 
          docker build -t comics-api-server:ci .
          
      # Step 4 - Create a docker network for testing and run postgreSQL container using secrets from Github
      - name: Start Postgres container for testing
        run: | 
          docker network create ci-net
          docker run -d --name db --network ci-net \
            -e POSTGRES_USER="${{ secrets.POSTGRES_USER }}" \
            -e POSTGRES_PASSWORD="${{ secrets.POSTGRES_PASSWORD }}" \
            -e POSTGRES_DB="${{ secrets.POSTGRES_DB }}" \
            postgres:16-alpine

      # Step 5 - Run the API container using the DATABASE_URI secret
      - name: Start API 
        run: |
          docker run -d --name api --network ci-net -p 8080:8080 \
          -e DATABASE_URI="${{ secrets.DATABASE_URI }}" \
          -e FLASK_APP="main:create_app" \
          comics-api-server:ci

      # Step - Perform a simple test to confirm the API is running  
      - name: Wait for API and test HTTP response
        run: |
          for i in {1..20}; do
            if curl -fsS http://localhost:8080/health >/dev/null 2>&1; then
              echo "API is responding"
              exit 0
            fi
            echo "Waiting for API... ($i)"
            sleep 2
          done
          
          echo "API not ready"
          docker logs api || true
          docker logs db || true
          exit 1

      # Step 7 - Clean up containers and network
      - name: Cleanup
        if: always()
        run: |
          docker rm -f api db || true
          docker network rm ci-net || true